._footer {
  background-color: #343a40;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.menusFooter {
  display: flex;
  list-style-type: none;

}

.menusFooter li {
  margin-top: 0.9em;
}

.menusFooter li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.menusFooter li a:hover {
  color: #C16337;
}